@using Telefonia.Core.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var telefones = ViewData["ListaTelefones"] as IEnumerable<Contato>;
}

<div class="text-center">
    <h1 class="display-4">Meus Contatos</h1>
    <div class="row">
        <table-responsive>
            <table align="center">
                <tr>
                    <th>Nome<th/>
                    <th>telefone<th/>
                </tr>
                @foreach(var telefone in telefones)
                {
                    <tr>
                        <td>
                            @telefone.NomeContato
                        </td>
                        <td></td>
                        <td>
                            @telefone.NumeroTelefone
                        </td>
                    </tr>
                }
            </table>
        </table-responsive>
        
    </div>
    
</div>
